{% extends "header.html" %}

{% block title %}Home{% endblock %}




{% block style %}
h3, p{
	color:#999999;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#mapid {
    transition: margin-right .5s;
}
{% endblock %}


{% block page_header %}
{% endblock %}

{% block content %}
<div id="mySidenav" class="sidenav">
  <a id='mine_id'style='display:none'>67817</a>
  <a id='update-fav'>Set as Favourite</a>

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>;
  <a id='news_source1'></a>
  <a id='title1'></a>
  <a id='description1'></a>
  <a id='source1'></a>
  <a id='date1'></a>

  <a id='news_source2'></a>
  <a id='title2'></a>
  <a id='description2'></a>
  <a id='source2'></a>
  <a id='date2'></a>

  <a id='news_source3'></a>
  <a id='title3'></a>
  <a id='description3'></a>
  <a id='source3'></a>
  <a id='date3'></a>

  <a id='news_source4'></a>
  <a id='title4'></a>
  <a id='description4'></a>
  <a id='source4'></a>
  <a id='date4'></a>

  <a id='news_source5'></a>
  <a id='title5'></a>
  <a id='description5'></a>
  <a id='source5'></a>
  <a id='date5'></a>

</div>


	<!-- <div style="text-align: center; width: 100%; margin: 30px auto auto auto;">
		<h1>Beautiful Map</h1>
		<h3>An interactive map that displays mining activity.</h3>
	</div> -->

	<div id="mapid" style="height: 700px;"></div>

<!--<script src="{{ url_for('static', filename='js/map.js') }}"></script>-->
<script>
	$('#update-fav').click(function() {
		$.ajax({
			url: 'update_fav',
			data: {
				id : $('#mine_id').text()
			},
			type: "GET",
			complete: function(data) {
				alert(data.responseJSON.status);
				if (data.responseJSON.status == 'Added Favorite') {
					$('#update-fav').text("Remove from Favourites")
				} else {
					$('#update-fav').text("Set as Favourite")
				}
			}
		})
	});

	function vertical_resize() {
		var h = $(window).height() - 90;
		$('.sidenav').height(h);
		//alert($('#mySidenav').height());
		$('#mapid').height(h);
	}

	window.onload = vertical_resize;

	// initialize map and set zoom
	var mymap = L.map('mapid').setView([65.51, -147.90], 10);

	// add tiles
	L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/outdoors-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZGxpbjE3IiwiYSI6ImNpcmsyMGxudzAwMnlmYm5icXlzYWsxd2IifQ.MUxIcntS8U8rRa41fbPo_Q', {
		minZoom: 8,
		maxZoom: 13,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

	// on click do stuff
	function onClick(e) {
		var mine_id = e.target.feature.properties.id
		console.log("Doing stuff for " + mine_id);

		$.ajax({
			url: 'is_fav',
			data: {
				id: mine_id
			},
			type: "GET",
			complete: function(data) {
				if (data.responseJSON.status == 1) {
					$('#update-fav').text("Remove from Favourites")
				} else {
					$('#update-fav').text("Set as Favourite")
				}
			}
		})

		$('#mine_id').text(mine_id)

		openNav();

	};

	/* Set the width of the side navigation to 250px */
	/* Set the width of the side navigation to 250px */
	function openNav() {
	  document.getElementById("mySidenav").style.width = "400px";
	  document.getElementById("mapid").style.marginRight = "400px";
	  // $('#title1').attr('href', "https://www.google.ca");
	  // $('#title1').text("Test Title");
	  // $('#description1').text("This is a description");
	  // $('#thumbnail1').attr('href', "/");
	  // $('#thumbnail1').append('<img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;">');
	  // $('#source1').text("me");
	  // $('#date1').text('2017-03-04');
		//
	  // $('#title2').attr('href', "https://www.google.ca");
	  // $('#title2').text("Test Title");
	  // $('#description2').text("This is a description");
	  // $('#thumbnail2').attr('href', "/");
	  // $('#thumbnail2').append('<img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;">');
	  // $('#source2').text("me");
	  // $('#date2').text('2017-03-04');
		//
	  // $('#title3').attr('href', "https://www.google.ca");
	  // $('#title3').text("Test Title");
	  // $('#description3').text("This is a description");
	  // $('#thumbnail3').attr('href', "/");
	  // $('#thumbnail3').append('<img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;">');
	  // $('#source3').text("me");
	  // $('#date3').text('2017-03-04');
		//
	  // $('#title4').attr('href', "https://www.google.ca");
	  // $('#title4').text("Test Title");
	  // $('#description4').text("This is a description");
	  // $('#thumbnail4').attr('href', "/");
	  // $('#thumbnail4').append('<img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;">');
	  // $('#source4').text("me");
	  // $('#date4').text('2017-03-04');
		//
	  // $('#title5').attr('href', "https://www.google.ca");
	  // $('#title5').text("Test Title");
	  // $('#description5').text("This is a description");
	  // $('#thumbnail5').attr('href', "/");
	  // $('#thumbnail5').append('<img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;">');
	  // $('#source5').text("me");
	  // $('#date5').text('2017-03-04');

	  $.ajax({
	  	url: 'get_news',
	  	data: {
	  		id: mine_id
	  	},
	  	type: "GET",
	  	complete: function(data) {
				// if (data.responseJOSN.type == 'google'){
	  		// 	$('#news_source').append('<a href="/"><img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;"></a>');
	  		// } else {
	  		// 	$('#news_source').append('<a href="/"><img src="{{ url_for("static", filename="img/scholar_logo.png") }}" style="height:50px;"></a>');
	  		// }

	  		$('#title1').attr('href', data.responseJSON[0].link);
	  		$('#title1').text(data.responseJSON[0].title);
	  		$('#description1').text(data.responseJSON[0].description);
	  		$('#source1').text(data.responseJSON[0].source)
	  		$('#date1').text(data.responseJSON[0].date)

				$('#title2').attr('href', data.responseJSON[1].link);
				$('#title2').text(data.responseJSON[1].title);
				$('#description2').text(data.responseJSON[1].description);
				$('#source2').text(data.responseJSON[1].source)
				$('#date2').text(data.responseJSON[1].date)

				$('#title3').attr('href', data.responseJSON[2].link);
				$('#title3').text(data.responseJSON[2].title);
				$('#description3').text(data.responseJSON[2].description);
				$('#source3').text(data.responseJSON[2].source)
				$('#date3').text(data.responseJSON[2].date)

				$('#title4').attr('href', data.responseJSON[3].link);
				$('#title4').text(data.responseJSON[3].title);
				$('#description4').text(data.responseJSON[3].description);
				$('#source4').text(data.responseJSON[3].source)
				$('#date4').text(data.responseJSON[3].date)

				$('#title5').attr('href', data.responseJSON[4].link);
				$('#title5').text(data.responseJSON[4].title);
				$('#description5').text(data.responseJSON[4].description);
				$('#source5').text(data.responseJSON[4].source)
				$('#date5').text(data.responseJSON[4].date)

	  	}
	  })

	}

	/* Set the width of the side navigation to 0 */
	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("mapid").style.marginRight = "0";
	}

	// define popup and action for mine markers
	function onEachFeature(feature, layer) {

		var greenIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
			shadowSize: [0,0],
			iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
		});

		var greyIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
			shadowSize: [0,0],
			iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
		});

		var orangeIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png',
			shadowSize: [0,0],
			iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
		});

		// does this feature have a property named popupContent?
		if (feature.properties && feature.properties.name) {
			layer.bindPopup('<center>' + feature.properties.name + '<br>' +
							feature.properties.activity + '<br>' +
							feature.properties.owner + '</center>').on('click', onClick);

			if (feature.properties.fav > 1) {
				layer.setIcon(orangeIcon)
			} else if (feature.properties.activity == 'Inactive') {
				layer.setIcon(greyIcon)
			} else {
				layer.setIcon(greenIcon)
			}

		}


		layer.on('mouseover', function(e) {
			this.openPopup();
		});

		layer.on('mouseout', function(e) {
			this.closePopup();
		});

		mymap.on('click', onClick_close)

		function onClick_close(e) {
			closeNav();
		}


	}


	// initialize marker layer
	var markers = L.geoJSON(false, {
					onEachFeature: onEachFeature
				}).addTo(mymap);

	var claims = L.geoJSON(false, {
					style: function(feature) {
						var total = parseFloat(feature.properties.total)
						if (total > 30) {
							return {fillColor: '#550000', color: '#D3D3D3', weight: 1, fillOpacity: 1}
						} else if (total > 20) {
							return {fillColor: '#801515', color: '#D3D3D3', weight: 1, fillOpacity: 1}
						} else if (total > 10) {
							return {fillColor: '#D46A6A', color: '#D3D3D3', weight: 1, fillOpacity: 1}
						} else if (total > 5) {
							return {fillColor: '#FFAAAA', color: '#D3D3D3', weight: 1, fillOpacity: 1}
						} else {
							return {fillColor: '#D3D3D3', color: '#D3D3D3', weight: 1, fillOpacity: 1}
						}
					}
				}).addTo(mymap);

	// load markers based on map bounds
	function loadMarkers() {
		var bounds = mymap.getBounds();
		var ne = bounds._northEast;
		var sw = bounds._southWest;

		// make call to get geoJSON of all mines in view
		$.ajax({
			url: 'mines_api',
			data: {
					minlat : sw.lat,
					minlng : sw.lng,
					maxlat : ne.lat,
					maxlng : ne.lng
				},
			type: "GET",
			async: false,
			dataType: 'json',
			complete: function(data) {
				markers.clearLayers();

				markers.addData(data.responseJSON);
			}
		})

		$.ajax({
			url: 'claims_api',
			data: {
					minlat : sw.lat,
					minlng : sw.lng,
					maxlat : ne.lat,
					maxlng : ne.lng
				},
			type: "GET",
			async: false,
			dataType: 'json',
			complete: function(data) {
				claims.clearLayers();
				// console.log(data.resonseJSON)
				// console.dir(data.responseJSON)


				claims.addData(data.responseJSON);
			}
		})
	}

	loadMarkers();

	// add button to render mines
	L.easyButton('fa-refresh', function(){
		loadMarkers();
	}).addTo(mymap);


</script>

{% endblock %}
