{% extends "header.html" %}

{% block title %}Explore{% endblock %}




{% block style %}
h3, p{
	color:#999999;
}

.info {
    padding: 6px 8px;
	width: 90px;
    font: Open Sans, 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#mapid {
    transition: margin-right .5s;
}
{% endblock %}


{% block page_header %}
{% endblock %}

{% block content %}
<div id="mySidenav" class="sidenav">
	<a id='mine_id'style='display:none'>67817</a>
	<a id='update-fav'>Set as Favourite</a>

	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>;
	<a id='title1' style='color:#b79f56'></a>
	<a id='description1'></a>
	<a id='source1'></a>
	<a id='date1'></a>
	<hr>
	<a id='title2' style='color:#b79f56'></a>
	<a id='description2'></a>
	<a id='source2'></a>
	<a id='date2'></a>
	<hr>
	<a id='title3' style='color:#b79f56'></a>
	<a id='description3'></a>
	<a id='source3'></a>
	<a id='date3'></a>
	<hr>
	<a id='title4' style='color:#b79f56'></a>
	<a id='description4'></a>
	<a id='source4'></a>
	<a id='date4'></a>
	<hr>
	<a id='title5' style='color:#b79f56'></a>
	<a id='description5'></a>
	<a id='source5'></a>
	<a id='date5'></a>

</div>


	<!-- <div style="text-align: center; width: 100%; margin: 30px auto auto auto;">
		<h1>Beautiful Map</h1>
		<h3>An interactive map that displays mining activity.</h3>
	</div> -->

	<div id="mapid" style="height: 700px;"></div>

<!--<script src="{{ url_for('static', filename='js/map.js') }}"></script>-->
<script>
	$('#update-fav').click(function() {
		$.ajax({
			url: 'update_fav',
			data: {
				id : $('#mine_id').text()
			},
			type: "GET",
			complete: function(data) {
				alert(data.responseJSON.status);
				if (data.responseJSON.status == 'Added Favorite') {
					$('#update-fav').text("Remove from Favourites")
				} else {
					$('#update-fav').text("Set as Favourite")
				}
			}
		})
	});

	function vertical_resize() {
		var h = $(window).height() - 90;
		$('.sidenav').height(h);
		//alert($('#mySidenav').height());
		$('#mapid').height(h);
	}

	window.onload = vertical_resize;

	// initialize map and set zoom
	var mymap = L.map('mapid').setView([65.51, -147.90], 8);

	// add tiles
	L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/outdoors-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZGxpbjE3IiwiYSI6ImNpcmsyMGxudzAwMnlmYm5icXlzYWsxd2IifQ.MUxIcntS8U8rRa41fbPo_Q', {
		minZoom: 5,
		maxZoom: 13,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

	// on click do stuff
	function onClick(e) {
		var mine_id = e.target.feature.properties.id
		console.log("Doing stuff for " + mine_id);

		$.ajax({
			url: 'is_fav',
			data: {
				id: mine_id
			},
			type: "GET",
			complete: function(data) {
				if (data.responseJSON.status == 1) {
					$('#update-fav').text("Remove from Favourites")
				} else {
					$('#update-fav').text("Set as Favourite")
				}
			}
		})

		$('#mine_id').text(mine_id)

		openNav(e);

	};

	/* Set the width of the side navigation to 250px */
	/* Set the width of the side navigation to 250px */
	function openNav(e) {
		var mine_id = e.target.feature.properties.id
	  document.getElementById("mySidenav").style.width = "400px";
	  document.getElementById("mapid").style.marginRight = "400px";

	  $.ajax({
	  	url: 'get_news',
	  	data: {
	  		id: mine_id
	  	},
	  	type: "GET",
	  	complete: function(data) {

	  		$('#title1').attr('href', data.responseJSON.features[0].link);
	  		$('#title1').text('Article: ' + data.responseJSON.features[0].title);
	  		$('#description1').text('Description: ' + data.responseJSON.features[0].description);
	  		$('#source1').text('Source: ' + data.responseJSON.features[0].source)
	  		$('#date1').text('Date: ' + data.responseJSON.features[0].date)

				$('#title2').attr('href', data.responseJSON.features[1].link);
				$('#title2').text('Article: ' + data.responseJSON.features[1].title);
				$('#description2').text('Description: ' + data.responseJSON.features[1].description);
				$('#source2').text('Source: ' + data.responseJSON.features[1].source)
				$('#date2').text('Date: ' + data.responseJSON.features[1].date)

				$('#title3').attr('href', data.responseJSON.features[2].link);
				$('#title3').text('Article: ' + data.responseJSON.features[2].title);
				$('#description3').text('Description: ' + data.responseJSON.features[2].description);
				$('#source3').text('Source: ' + data.responseJSON.features[2].source)
				$('#date3').text('Date: ' + data.responseJSON.features[2].date)

				$('#title4').attr('href', data.responseJSON.features[3].link);
				$('#title4').text('Article: ' + data.responseJSON.features[3].title);
				$('#description4').text('Description: ' + data.responseJSON.features[3].description);
				$('#source4').text('Source: ' + data.responseJSON.features[3].source)
				$('#date4').text('Date: ' + data.responseJSON.features[3].date)

				$('#title5').attr('href', data.responseJSON.features[4].link);
				$('#title5').text('Article: ' + data.responseJSON.features[4].title);
				$('#description5').text('Description: ' + data.responseJSON.features[4].description);
				$('#source5').text('Source: ' + data.responseJSON.features[4].source)
				$('#date5').text('Date: ' + data.responseJSON.features[4].date)

	  	}
	  })

	}

	/* Set the width of the side navigation to 0 */
	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("mapid").style.marginRight = "0";
	}

	// define popup and action for mine markers
	function onEachFeature(feature, layer) {

		var greenIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
			shadowSize: [0,0],
			iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
		});

		var greyIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
			shadowSize: [0,0],
			iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
		});

		var orangeIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png',
			shadowSize: [0,0],
			iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
		});

		// does this feature have a property named popupContent?
		if (feature.properties && feature.properties.name) {
			layer.bindPopup('<center><strong>Name: </strong>' + feature.properties.name + '<br>' +
							'<strong>Status: </strong>' + feature.properties.activity + '<br>' +
							'<strong>Owner: </strong>' + feature.properties.owner + '</center>').on('click', onClick);

			if (feature.properties.fav > 1) {
				layer.setIcon(orangeIcon)
			} else if (feature.properties.activity == 'Inactive') {
				layer.setIcon(greyIcon)
			} else {
				layer.setIcon(greenIcon)
			}

		}


		layer.on('mouseover', function(e) {
			this.openPopup();
		});

		layer.on('mouseout', function(e) {
			this.closePopup();
		});

		mymap.on('click', onClick_close)

		function onClick_close(e) {
			closeNav();
		}


	}

	function faultPopup(feature, layer) {
		layer.bindPopup('<center><strong>Name: </strong>' + feature.properties.name + '<br>' +
						'<strong>Age: </strong>' + feature.properties.age + '<br>' +
						'<strong>Type/Length/Sliprate: </strong>' + feature.properties.ftype + '/' + 
						 feature.properties.length + '/' + feature.properties.sliprate + '</center>').on('click', onClick);

		layer.on('mouseover', function(e) {
			this.openPopup();
		});

		layer.on('mouseout', function(e) {
			this.closePopup();
		});

	}

	// initialize marker layer
	var markers = L.geoJSON(false, {
					onEachFeature: onEachFeature
				}).addTo(mymap);

	function getColor(d) {
		return d > 30 ? '#550000' :
			   d > 20 ? '#801515' :
			   d > 10 ? '#D46A6A' :
			   d > 3 ? '#FFAAAA' :
			   			'#A7A7A7';
	}

	function faultColor(s) {
		return s == '<1,600,000' ? '#1b9e77': 
				s == '<130,000' ? '#d95f02': 
				s == '<750,000' ? '#7570b3': 
				s == '<15,000' ? '#e7298a': 
				s == '<150' ? '#66a61e': 
							'#A7A7A7';
	}
	
	var claims = L.geoJSON(false, {
					style: function(feature) {
						return {
							fillColor: getColor(feature.properties.total),
							weight: 1,
							fillOpacity: 1,
							color: '#D3D3D3'
						}
					}
				}).addTo(mymap);

	var faults = L.geoJSON(false, {
		onEachFeature: faultPopup,
		style: function(feature) {
			return {
				weight: 5,
				color: faultColor(feature.properties.age)
			}
		}
	}).addTo(mymap);

	// load markers based on map bounds
	function loadMarkers() {
		var bounds = mymap.getBounds();
		var ne = bounds._northEast;
		var sw = bounds._southWest;

		// make call to get geoJSON of all mines in view
		$.ajax({
			url: 'mines_api',
			data: {
					minlat : sw.lat,
					minlng : sw.lng,
					maxlat : ne.lat,
					maxlng : ne.lng
				},
			type: "GET",
			async: false,
			dataType: 'json',
			complete: function(data) {
				markers.clearLayers();

				markers.addData(data.responseJSON);
			}
		});

		$.ajax({
			url: 'claims_api',
			data: {
					minlat : sw.lat,
					minlng : sw.lng,
					maxlat : ne.lat,
					maxlng : ne.lng
				},
			type: "GET",
			async: false,
			dataType: 'json',
			complete: function(data) {
				claims.clearLayers();

				claims.addData(data.responseJSON);
			}
		})

		$.ajax({
			url: 'faults_api',
			data: {
					minlat : sw.lat,
					minlng : sw.lng,
					maxlat : ne.lat,
					maxlng : ne.lng
				},
			type: "GET",
			async: false,
			dataType: 'json',
			complete: function(data) {
				faults.clearLayers();

				faults.addData(data.responseJSON);
			}
		})
	}

	var legend = L.control({position: 'bottomleft'});

	legend.onAdd = function (map) {

		var div = L.DomUtil.create('div', 'info legend'),
			grades = [0, 3, 10, 20, 30],
			labels = [];

		// loop through our density intervals and generate a label with a colored square for each interval
		for (var i = 0; i < grades.length; i++) {
			div.innerHTML +=
				'<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
				grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
		}

		return div;
	};

	legend.addTo(mymap);


	loadMarkers();

	// add button to render mines
	L.easyButton('fa-refresh', function(){
		loadMarkers();
	}).addTo(mymap);


</script>

{% endblock %}
