{% extends "header.html" %}

{% block title %}Home{% endblock %}




{% block style %}
h3, p{
	color:#999999;
}

.info {
    padding: 6px 8px;
	width: 90px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#mapid {
    transition: margin-right .5s;
}
{% endblock %}


{% block page_header %}
{% endblock %}

{% block content %}
<div id="mySidenav" class="sidenav">
  <a id='mine_id'style='display:none'>67817</a>
  <a id='update-fav'>Set as Favourite</a>

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>;
  <a id='news_source1'></a>
  <a id='title1'></a>
  <a id='description1'></a>
  <a id='source1'></a>
  <a id='date1'></a>

  <a id='news_source2'></a>
  <a id='title2'></a>
  <a id='description2'></a>
  <a id='source2'></a>
  <a id='date2'></a>

  <a id='news_source3'></a>
  <a id='title3'></a>
  <a id='description3'></a>
  <a id='source3'></a>
  <a id='date3'></a>

  <a id='news_source4'></a>
  <a id='title4'></a>
  <a id='description4'></a>
  <a id='source4'></a>
  <a id='date4'></a>

  <a id='news_source5'></a>
  <a id='title5'></a>
  <a id='description5'></a>
  <a id='source5'></a>
  <a id='date5'></a>

</div>


	<!-- <div style="text-align: center; width: 100%; margin: 30px auto auto auto;">
		<h1>Beautiful Map</h1>
		<h3>An interactive map that displays mining activity.</h3>
	</div> -->

	<div id="mapid" style="height: 700px;"></div>

<!--<script src="{{ url_for('static', filename='js/map.js') }}"></script>-->
<script>
	$('#update-fav').click(function() {
		$.ajax({
			url: 'update_fav',
			data: {
				id : $('#mine_id').text()
			},
			type: "GET",
			complete: function(data) {
				alert(data.responseJSON.status);
				if (data.responseJSON.status == 'Added Favorite') {
					$('#update-fav').text("Remove from Favourites")
				} else {
					$('#update-fav').text("Set as Favourite")
				}
			}
		})
	});

	function vertical_resize() {
		var h = $(window).height() - 90;
		$('.sidenav').height(h);
		//alert($('#mySidenav').height());
		$('#mapid').height(h);
	}

	window.onload = vertical_resize;

	// initialize map and set zoom
	var mymap = L.map('mapid').setView([65.51, -147.90], 10);

	// add tiles
	L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/outdoors-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZGxpbjE3IiwiYSI6ImNpcmsyMGxudzAwMnlmYm5icXlzYWsxd2IifQ.MUxIcntS8U8rRa41fbPo_Q', {
		minZoom: 8,
		maxZoom: 13,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

	// on click do stuff
	function onClick(e) {
		var mine_id = e.target.feature.properties.id
		console.log("Doing stuff for " + mine_id);

		$.ajax({
			url: 'is_fav',
			data: {
				id: mine_id
			},
			type: "GET",
			complete: function(data) {
				if (data.responseJSON.status == 1) {
					$('#update-fav').text("Remove from Favourites")
				} else {
					$('#update-fav').text("Set as Favourite")
				}
			}
		})

		$('#mine_id').text(mine_id)

		openNav();

	};

	/* Set the width of the side navigation to 250px */
	/* Set the width of the side navigation to 250px */
	function openNav() {
	  document.getElementById("mySidenav").style.width = "400px";
	  document.getElementById("mapid").style.marginRight = "400px";
	  $('#title1').attr('href', "https://www.google.ca");
	  $('#title1').text("Test Title");
	  $('#description1').text("This is a description");
	  $('#thumbnail1').attr('href', "/");
	  $('#thumbnail1').append('<img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;">');
	  $('#source1').text("me");
	  $('#date1').text('2017-03-04');

	  $('#title2').attr('href', "https://www.google.ca");
	  $('#title2').text("Test Title");
	  $('#description2').text("This is a description");
	  $('#thumbnail2').attr('href', "/");
	  $('#thumbnail2').append('<img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;">');
	  $('#source2').text("me");
	  $('#date2').text('2017-03-04');

	  $('#title3').attr('href', "https://www.google.ca");
	  $('#title3').text("Test Title");
	  $('#description3').text("This is a description");
	  $('#thumbnail3').attr('href', "/");
	  $('#thumbnail3').append('<img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;">');
	  $('#source3').text("me");
	  $('#date3').text('2017-03-04');

	  $('#title4').attr('href', "https://www.google.ca");
	  $('#title4').text("Test Title");
	  $('#description4').text("This is a description");
	  $('#thumbnail4').attr('href', "/");
	  $('#thumbnail4').append('<img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;">');
	  $('#source4').text("me");
	  $('#date4').text('2017-03-04');

	  $('#title5').attr('href', "https://www.google.ca");
	  $('#title5').text("Test Title");
	  $('#description5').text("This is a description");
	  $('#thumbnail5').attr('href', "/");
	  $('#thumbnail5').append('<img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;">');
	  $('#source5').text("me");
	  $('#date5').text('2017-03-04');

	  // $.ajax({
	  // 	url: 'get_news',
	  // 	data: {
	  // 		id: mine_id
	  // 	},
	  // 	type: "GET",
	  // 	complete: function(data) {
	  // 		if (data.responseJSON.type == 'news'){
	  // 			$('#news_source').append('<a href="/"><img src="{{ url_for("static", filename="img/news_logo.png") }}" style="height:50px;"></a>');
	  // 		} else if (data.responseJOSN.type == 'google'){
	  // 			$('#news_source').append('<a href="/"><img src="{{ url_for("static", filename="img/google_logo.png") }}" style="height:50px;"></a>');
	  // 		} else {
	  // 			$('#news_source').append('<a href="/"><img src="{{ url_for("static", filename="img/scholar_logo.png") }}" style="height:50px;"></a>');
	  // 		}
	  //
	  // 		$('#title').attr('href', data.responseJSON.url);
	  // 		$('#title').text(data.responseJSON.title);
	  // 		$('#description').text(data.responseJSON.description);
	  // 		$('#thumbnail').attr('href', "/");
	  // 		$('#thumbnail').append(data.responseJSON.thumbnail);
	  // 		$('#source').text(data.responseJSON.source)
	  // 		$('#date').text(data.responseJSON.date)
	  //
	  // 	}
	  // })

	}

	/* Set the width of the side navigation to 0 */
	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("mapid").style.marginRight = "0";
	}

	// define popup and action for mine markers
	function onEachFeature(feature, layer) {

		var greenIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
			shadowSize: [0,0],
			iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
		});

		var greyIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
			shadowSize: [0,0],
			iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
		});

		var orangeIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png',
			shadowSize: [0,0],
			iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
		});

		// does this feature have a property named popupContent?
		if (feature.properties && feature.properties.name) {
			layer.bindPopup('<center><strong>Name: </strong>' + feature.properties.name + '<br>' +
							'<strong>Status: </strong>' + feature.properties.activity + '<br>' +
							'<strong>Owner: </strong>' + feature.properties.owner + '</center>').on('click', onClick);

			if (feature.properties.fav > 1) {
				layer.setIcon(orangeIcon)
			} else if (feature.properties.activity == 'Inactive') {
				layer.setIcon(greyIcon)
			} else {
				layer.setIcon(greenIcon)
			}

		}


		layer.on('mouseover', function(e) {
			this.openPopup();
		});

		layer.on('mouseout', function(e) {
			this.closePopup();
		});

		mymap.on('click', onClick_close)

		function onClick_close(e) {
			closeNav();
		}


	}

	// initialize marker layer
	var markers = L.geoJSON(false, {
					onEachFeature: onEachFeature
				}).addTo(mymap);

	function getColor(d) {
		return d > 30 ? '#550000' :
			   d > 20 ? '#801515' :
			   d > 10 ? '#D46A6A' :
			   d > 3 ? '#FFAAAA' :
			   			'#A7A7A7';
	}
	
	var claims = L.geoJSON(false, {
					style: function(feature) {
						return {
							fillColor: getColor(feature.properties.total),
							weight: 1,
							fillOpacity: 1,
							color: '#D3D3D3'
						}
					}
				}).addTo(mymap);

	// load markers based on map bounds
	function loadMarkers() {
		var bounds = mymap.getBounds();
		var ne = bounds._northEast;
		var sw = bounds._southWest;

		// make call to get geoJSON of all mines in view
		$.ajax({
			url: 'mines_api',
			data: {
					minlat : sw.lat,
					minlng : sw.lng,
					maxlat : ne.lat,
					maxlng : ne.lng
				},
			type: "GET",
			async: false,
			dataType: 'json',
			complete: function(data) {
				markers.clearLayers();

				markers.addData(data.responseJSON);
			}
		});

		$.ajax({
			url: 'claims_api',
			data: {
					minlat : sw.lat,
					minlng : sw.lng,
					maxlat : ne.lat,
					maxlng : ne.lng
				},
			type: "GET",
			async: false,
			dataType: 'json',
			complete: function(data) {
				claims.clearLayers();

				claims.addData(data.responseJSON);
			}
		})
	}
	
	var legend = L.control({position: 'bottomleft'});

	legend.onAdd = function (map) {

		var div = L.DomUtil.create('div', 'info legend'),
			grades = [0, 3, 10, 20, 30],
			labels = [];

		// loop through our density intervals and generate a label with a colored square for each interval
		for (var i = 0; i < grades.length; i++) {
			div.innerHTML +=
				'<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
				grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
		}

		return div;
	};
	
	legend.addTo(mymap);


	loadMarkers();

	// add button to render mines
	L.easyButton('fa-refresh', function(){
		loadMarkers();
	}).addTo(mymap);


</script>

{% endblock %}
