<!DOCTYPE html>
<html>
<head>
	
	<title>Quick Start - Leaflet</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <!--leaflet-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    
    <!--jquery-->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    
    <!--leaflet easy button-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.css">
    <script src="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.js"></script>
    <script src="https://use.fontawesome.com/76435eb78f.js"></script>



	
</head>
<body>

<div id="mapid" style="width: 1600px; height: 900px;"></div>
<script>
    
</script>
