{% extends "header.html" %}

{% block title %}Reports{% endblock %}

{% block style %}
#overlay {
    background: #ffffff;
    color: #666666;
    position: absolute;
    height: 50%;
    min-height: 350px;
    width: 75%;
    z-index: 5000;
    top: 0;
    left: 0;
    margin: 15% 10% 10% 13%;
    float: left;
    text-align: center;
    padding-top: 5%;
    border: 5px solid #d7d7d7;
}

.holder {
    position: relative;
}
{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}

{% if request.url_rule.endpoint=='BG_data.MineData' %}
<div id="filter" style="padding-top:10px; padding-left:10px" align="center">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <!--<label for="rpt-select">Filter Reports (hold shift to select more than one):</label>-->
                <select class="form-control" id="rpt-select">
                    <option selected disabled>Reports & Data</option>
                    <option>All</option>
                    <option>Mine 1</option>
                    <option>Mine 2</option>
                    <option>Mine 3</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" id="filter_btn">
                    Filter
                </button>
            </div>
        </div>
    </form>
</div>
{% endif %}

<div class="holder">
    <iframe id="report_iframe" src="{{ url }}" frameborder="0" height="80%" width="100%"
    style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:80%;width:100%;position:fixed;top:150px;left:0px;right:0px;bottom:-150px;" >
    </iframe>



    <div id="overlay" align="center" style="display:none;">
        <h1 style="text-align:center">Generating Report...</h1>
        <!--<h3 id="filename_preview"></h3>-->
        <img src="{{ url_for('static', filename='img/loading_spinner.gif') }}" />
    </div>
</div>

<script>
$('#filter_btn').on('click', function() {
    //alert('clicked!!!');
    $('#report_iframe').hide();
    $('#overlay').show();
    $.getJSON('/generate_report/', {
		rpt: $('#rpt-select').val()
	}, function(data) {
		result = data.result;
		if (result == 'Success') {
            //alert(data.report);
            window.location.href = data.report;
		} else {
			window.location.reload();
		}
	});
	return false;
});

</script>
{% endblock %}
