{% extends "header.html" %}

{% block title %}Welcome{% endblock %}

{% block style %}
#topNav {
    display: none;
}

body {
    padding: 0;
    margin-bottom: 10vh;
}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<script>
    $("#topNav").remove();
</script>

<div class="content" align="center">
    <div style="height:10vh;"></div>

    <h1>MangoMine</h1>
    <br>

    <img src="{{ url_for('static', filename='img/mango_mine.png') }}" class="img-responsive center-block" style="max-width:50%; height: 60vh; max-height:500px;">
    
    <br><br>

    <h3><a href="/explore">Explore mines</a></h3>
</div>

{% endblock %}
