{% extends "header.html" %}

{% block title %}Upload Data{% endblock %}

{% block style %}
.upload-drop-zone {
    border: 9px #d7d7d7;
    height: 35vh;
}

#drop-zone {
	height:35vh;
    display: table;
    width: 100%;
    <!-- border: 9px #d7d7d7; -->
}

#drop-zone span {
    vertical-align:middle;
    display: table-cell;
    text-align: center;
    min
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

#upload-link {
    outline: none;
    padding: 5px 3px 5px 0px;
    border: 0px;
    font-size: 24px;
    font-weight: bold;
    box-sizing: none;
    background-color: transparent;
    padding-top:0px;
}

.btn-link{
    color: #6DB446;
}

.btn-link:hover{
    color: #55962d;
    text-decoration:none;
}

.guideline-box {
    background-color: #f2f2f2;
    padding: 40px 40px 40px 40px;
}

h4 {
    padding: 15px 0 0px 0;
}

#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 50%;
    min-height: 350px;
    width: 75%;
    z-index: 5000;
    top: 0;
    left: 0;
    margin: 15% 10% 10% 13%;
    float: left;
    text-align: center;
    padding-top: 5%;
    border: 5px solid #d7d7d7;
}
{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
<div class="upload-drop-zone" id="drop-zone">
    <span>
        <label class="btn btn-default btn-file btn-link" id="upload-link">
        <i class="fa fa-upload fa-4x" style="color:lightgray;"></i>
        <br>
        <br>
        <h3>
            <label class="btn btn-default btn-file btn-link" id="upload-link">
                Choose a file
                <form action="/upload_file/" method="POST" enctype="multipart/form-data" id="upload-form">
                    <input type="file" id="file-select" name="file" accept=".xls,.xlsx" style="display: none;">
                </form>
         </label>
            to upload
        </h3>
    </span>
</div>

<div class="guideline-box">
    <h1>Upload File Guidelines</h1>
    <p><h4>Upload only complete data</h4>
        If your file contains dates present in previous data uploaded, these entries will be delete from the database before the new data is inserted.
        <h4>Consistent format</h4>
        Please make sure the file that you're uploading is in the same format as previous years.</p>
        <h4>File Names</h4>
        All delivery data filenames <b>must start with "data"</b>.
        All survey data filenames <b>must start with "survey"</b>. 
</div>


<div id="overlay" align="center" style="display:none;">
    <h1 style="text-align:center">Uploading...</h1>
    <h3 id="filename_preview"></h3>
    <img src="{{ url_for('static', filename='img/loading_spinner.gif') }}" style="width:75%"/>
</div>


<script>
$('#file-select').change(uploadFile);

function uploadFile() {
    $('#overlay').show();
    $('#filename_preview').text($('#file-select').val());
    $('#upload-form').submit();
}

</script>
{% endblock %}
